.th-sortable-asc {
	padding-right: 15px;
	background: url('../img/arrow_up.svg') right center no-repeat;
	background-size: 12px;
}

.th-sortname-asc {
	background-image: url('../img/arrow_full_up.svg');
	padding-right: 32px;
	background-size: 29px 14px;
} 

.th-sortable-desc {
	padding-right: 15px;
	background: url('../img/arrow_down.svg') right center no-repeat;
	background-size: 12px;
}

.th-sortname-desc {
	background-image: url('../img/arrow_full_down.svg');
	padding-right: 32px;
	background-size: 29px 14px;
}

.th-sorted {
	color: #0d6efd;
}

.th-sortable-asc:hover,
.th-sortable-desc:hover,
.th-sorted-asc:hover,
.th-sorted-desc:hover {
	color: #0b5ed7;
	cursor: pointer;
}

.contact-icon {
	width: 16px;
	height: 16px;
	float: left;
	margin: 2px 4px;
}

.td_actions {
	min-width: 210px;
}

.contacts {
	border: 0px;
	border-radius: 5px;
	padding: 4px;
}

.contacts-invalid {
	border: 1px solid #dc3545;
	border-radius: 5px;
	padding: 3px;
}
