.th-sortable-asc {
	padding-right: 15px;
	background: url('../img/arrow_up.svg') right center no-repeat;
	background-size: 12px;
}

.th-sortable-desc {
	padding-right: 15px;
	background: url('../img/arrow_down.svg') right center no-repeat;
	background-size: 12px;
}

.th-sorted-asc {
	padding-right: 15px;
	background: url('../img/arrow_up.svg') right center no-repeat;
	background-size: 12px;
	color: #0d6efd;
}

.th-sorted-desc {
	padding-right: 15px;
	background: url('../img/arrow_down.svg') right center no-repeat;
	background-size: 12px;
	color: #0d6efd;
}

.th-sortable-asc:hover,
.th-sortable-desc:hover,
.th-sorted-asc:hover,
.th-sorted-desc:hover {
	color: #0b5ed7;
	cursor: pointer;
}
